anaconda-client==1.6.9
anaconda-navigator==1.7.0
anaconda-project==0.8.2
backports.shutil-get-terminal-size==1.0.0
biopython==1.71
conda==4.4.10
conda-build==3.4.1
conda-verify==2.0.0
getch==1.0
glob2==0.6
imageio==2.2.0
imagesize==0.7.1
imutils==0.4.6
ipykernel==4.8.0
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.1.1
jsonrpc-requests==0.4.0
Markdown==2.6.11
matplotlib==2.1.2
mpmath==1.0.0
msgpack-python==0.5.1
numpy==1.14.0
numpydoc==0.7.0
opencv-python==3.4.0.12
openpyxl==2.4.10
opentrons==2.5.2
pandas==0.22.0
pandocfilters==1.4.2
path.py==10.5
pathlib2==2.3.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
py==1.5.2
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
pylint==1.8.2
pyodbc==4.0.22
requests==2.14.2
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
sortedcollections==0.5.3
sortedcontainers==1.5.9
SQLAlchemy==1.2.1
sympy==1.1.1
unicodecsv==0.14.1
urllib3==1.22
