
module.exports = {

  // The URL of the bionet node
  node_url: "http://localhost:8000",
  
  // username and password of account to use
  // for creating and updating virtuals on the node
  username: "my_user",
  password: "my_password"

};